.geral{
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.map{
    width: 30%;
    background-color: blue;
}

.map iframe{
    width: 100%;
    height: 400px;
}

.contato{
    background-color: azure;
    width: 60%;
}