.geral{
    /*background-color: aqua;*/
    width: 100%;
    display: inline-block;
    justify-content: space-between;
    margin-top: 1px;
}

input{
    border-radius: 13px;
    background-color: lightgray;
    border-color: rgb(163, 163, 163);
}

.titulo{
    font-size: 70px;
    /*background-color: coral;*/
    justify-content: center;
    display: flex;
}

.titulo p{
    border-bottom: 3px solid black;
}

.conteudo{
    /*background-color: aqua;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.map{
    width: 30%;
    background-color: blue;
    margin-left: 30px;
}

.map iframe{
    width: 100%;
    height: 400px;
}

.contato{
    background-color: azure;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nome-email{
    background-color: blue;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.individual{
    background-color: brown;
    width: 45%;
}

.individual input{
    flex: 1;
    width: 100%;
    height: 40px;
    margin-right: 10px;
}

.interesse{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interesse-centro{
    width: 70%;
}

.interesse-centro input{
    width: 100%;
    height: 40px;
}

.descript{
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    height: 90%;
    width: 59vw;
}

.descricao{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: blueviolet;
}

.descript input{
    width: 100%;
    height: 90%;
}