.geral{
    /*background-color: aqua;*/
    width: 100%;
    display: inline-block;
    justify-content: space-between;
    margin-top: 1px;
}

input{
    border-radius: 13px;
    background-color: lightgray;
    border-color: rgb(163, 163, 163);
    outline: none;
    transition: 0.2s;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.178);
    padding-left: 15px;
}


@font-face {
    font-family: "corpo";
    src: url(../assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth\,wght.ttf);
}

input::placeholder{
    font-size: 15px;
    font-family: "corpo";
}

input:focus {
    border: 2px solid rgb(105, 105, 105);
    transition: 0.2s;
}

select:focus {
    border: 2px solid rgb(105, 105, 105);
}

select option{
    font-family: "corpo";
    color: rgb(0, 0, 0);
    outline: none;
}

.conteudo{
    /*background-color: aqua;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.map{
    width: 40%;
   /* background-color: blue;*/
    margin-left: 50px;
    border: 100px rgb(163, 163, 163);
}

.map iframe{
    width: 100%;
    height: 400px;
    border-radius: 13px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.324);
}

.contato{
    /*background-color: azure;*/
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.nome-email{
    /*background-color: blue;*/
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.individual{
   /* background-color: brown;*/
    width: 45%;
}

.individual input{
    flex: 1;
    width: 100%;
    height: 40px;
    margin-right: 10px;
}

.interesse{
   /* background-color: cadetblue;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.interesse-centro{
    width: 70%;
}

.interesse-centro select{
    width: 100%;
    height: 40px;
    border-radius: 13px;
    background-color: lightgray;
    border-color: rgb(163, 163, 163);
    color: rgba(0, 0, 0, 0.363);
    padding: 10px;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.178);
}

.descript{
   /* background-color: yellowgreen;*/
    display: flex;
    justify-content: center;
    height: 60%;
    max-width: 1143px;
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.desc{
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.descript textarea{
    position: absolute;
    width: 76%;
    min-width: 300px;
    height: 200px;
    resize: none;
    font-family: "corpo";
    font-size: 15px;
    border-radius: 13px;
    background-color: lightgray;
    border-color: rgb(163, 163, 163);
    padding: 15px;
    margin-left: 3px;
    outline: none;
    transition: 0.2s;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.324);
}

textarea:focus {
    border: 2px solid rgb(105, 105, 105);
    transition: 0.2s;
}

.validar {
    display: flex;
    justify-content: center;
}

.btn{
    background-color: lightgray;
    padding: 5px;
    border-color: 2px rgb(102, 102, 102);
    font-size: 25px;
    font-family: "corpo";
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.575);
    cursor: pointer;
    transition: 350ms;
    display: inline-block;
    position: absolute;
    bottom: -10px;
}

.btn:hover{
    transform: scale(1.1);
    transition: 350ms;
}

.btn:active{
    background-color: rgb(129, 129, 129);
    border: 3px solid rgb(71, 71, 71);
    color: lightgray;
    transition: 100ms;
}

.confirma{
    justify-content: end;
    display: flex;
    margin-right: 20px;
}