main {
    justify-content: center;
    display: flex;
}

.conteudo-principal {
    /*background-color: blue;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 75%;
    gap: 40px;
    margin-bottom: 30px;
}

.foto img {
    /* background-color: brown;*/
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    margin-top: 25%;
    margin-left: 2%;
}

.sobre-mim {
    /*  background-color: aqua;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cabeçalho {
    /*  background-color: chartreuse;*/
    font-size: 80px;
    padding: 10px;
    max-height: 350px;
    margin-top: 50px;
    max-width: auto;
}

.paragrafo {
    /*  background-color: blueviolet;*/
    font-size: 28px;
    padding: 20px;
    max-width: auto;
}


@media (max-width: 800px) {

    main {
        display: flex;
        
        justify-content: center;
    }

    .conteudo-principal {
       /* background-color: rgb(226, 101, 43);*/
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .foto{
        justify-content: center;
        display: flex;
    }

    .foto img {
       /* background-color: rgb(198, 226, 43);*/
        max-width: 200px;
        height: auto;
        border-radius: 50%;
        margin-top: 24%;
        margin-left: 2%;
    }

    .sobre-mim {
       /* background-color: aqua;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cabeçalho {
       /* background-color: chartreuse;*/
        font-size: 40px;
        padding: 10px;
        text-align: center;
        max-height: 100px;
        margin-top: 0;
        max-width: auto;
        margin-bottom: 0px;
    }

    .paragrafo {
        /*background-color: blueviolet;*/
        font-size: 20px;
        padding: 20px;
        max-width: auto;
        margin-bottom: 100px;
        text-align: initial;
    }

}