@charset "UTF-8";

@font-face {
    font-family: "titulos";
    src: url(../assets/fonts/Italiana/Italiana-Regular.ttf);
}

@font-face {
    font-family: "corpo";
    src: url(../assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth\,wght.ttf);
}
/*
GLOBAL
*/
:root {
    --greydark: #616161;
    --white: #fff;
    --greysoft: #dbdbdb;
    --greystrong: #6d6d6d;
    --black: #000;
}

body {
    background-image: linear-gradient(to left, var(--greydark), var(--greysoft));
    font-family: "corpo";
    padding: 0;
    margin: 0;
}

span{
    font-family: "titulos";
}

.titulo{
    display: flex;
    justify-content: center; /* centraliza horizontal */
    align-items: center;     /* centraliza vertical */
    width: 100%;        /* garante que ocupe a linha inteira */
    font-size: 70px;  
}

.titulo p{
    
    position: relative;
    display: inline-block;
    font-size: inherit; /* mantém o tamanho do pai */
}

.titulo p::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background: black;

    transform: scaleX(0);
    transform-origin: center;
    animation: linha 0.8s ease forwards;
}

@keyframes linha {
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
}
/*
HEADER, LOGO E NAV
*/


header {
    margin-left: auto;
    margin-right: auto;
}

.logotipo {
    display: flex;
    justify-content: center;
}

.logotipo img{
    width: 80px;
    height: auto;
    transition: 1.2s;
}

.logotipo img:hover{
    transform: scale(1.1);
    transform: rotate(360deg);
    transition: 1.2s;
}

nav {
    display: flex;
    gap: 50px;
    margin-left: auto; 
    position: fixed;
    right: 80px;
    top: 20px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0;
    margin: 0; 
}

nav a{
    text-decoration: none;
    color: var(--black);
    font-size: 28px;
    position: relative;
    transition: transform 500ms ease-in-out;
}

nav a::after{
    content: " ";
    width: 100%;
    height: 2px;
    background-color: var(--black);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 500ms ease-in-out;
}

nav a:hover::after{
    transform: translateX(-50%) scaleX(1);
}

nav a:hover{
    transform: scale(1.1);
    transition: 500ms;
}

/*
FOOTER, REDES SOCIAIS, DIREITOS RESERVADOS E MODO ESCURO
*/

.rodape-preto{
    background-color: var(--black);
    width: 100%;
    height: 7%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.redes-sociais{
    filter: invert(0.8);
    position: absolute;
    left: 10px;
    top: 13px;
}

.redes-sociais img{
    transition: 400ms;
}

.redes-sociais img:hover{
    transform: scale(1.1);
    transition: 400ms;
}

.copy{
    filter: invert(0.8);
    bottom: 2px;
    position: absolute;
    font-size: 12px;
}

.modo-escuro img{
    filter: invert(0.8);
    position: absolute;
    right: 20px;
    top: 15px;
    transition: 400ms;
    cursor: pointer;
}

.modo-escuro img:hover{
    transform: scale(1.1);
    transition: 400ms;
}

/*
MODO ESCURO
*/


body.escuro {
    background: linear-gradient(to left, var(--greydark), var(--greystrong));
    color: var(--greysoft);
}

.escuro .logotipo img{
    filter: invert(1);
}

.escuro .redes-sociais img {
    filter: invert(1);
}

.escuro .modo-escuro img{
    filter: invert(0);
}

body.escuro a{
    color: var(--greysoft);
}

.escuro .rodape-preto{
    background-color: var(--greysoft);

}

.escuro .titulo p::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background: var(--greysoft);

    transform: scaleX(0);
    transform-origin: center;
    animation: linha 0.8s ease forwards;
}

.escuro nav a::after{
    content: " ";
    width: 100%;
    height: 2px;
    background-color: var(--greysoft);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
}

nav a:hover::after{
    transform: translateX(-50%) scaleX(1);
}


#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 42px;
    cursor: pointer;
    user-select: none;
    position: fixed;
    right: 30px;
    top: 10px;
    z-index: 2000;
}

/* 
RESPONSIVO
*/
@media (max-width: 800px) {
    .hamburger {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        background: var(--black);
        width: 200px;
        height: 100vh;
        padding-top: 80px;
        z-index: 1500;
    }

    nav ul {
        flex-direction: column;
        gap: 30px;
        padding-left: 20px;
    }

    nav a {
        font-size: 24px;
    }

    #menu-toggle:checked ~ nav {
        display: flex;
    }
}
