@charset "UTF-8";

@font-face {
    font-family: "titulos";
    src: url(../assets/fonts/Italiana/Italiana-Regular.ttf);
}

@font-face {
    font-family: "corpo";
    src: url(../assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth\,wght.ttf);
}
/*
GLOBAL
*/
:root {
    --greydark: #616161;
    --white: #fff;
    --greysoft: #dbdbdb;
    --greystrong: #6d6d6d;
    --black: #000;
}

html, body {
    background-image: linear-gradient(to left, var(--greydark), var(--greysoft));
    font-family: "corpo";
}

span{
    font-family: "titulos";
    
}
/*
HEADER, LOGO E NAV
*/


header {
    margin-left: auto;
    margin-right: auto;
}

.logotipo {
    display: flex;
    justify-content: center;
}

.logotipo img{
    width: 80px;
    height: auto;
    transition: 1.2s;
}

.logotipo img:hover{
    transform: scale(1.1);
    transform: rotate(360deg);
    transition: 1.2s;
}

nav {
    display: flex;
    gap: 50px;
    margin-left: auto; 
    position: fixed;
    right: 80px;
    top: 20px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0;
    margin: 0; 
}

nav a{
    text-decoration: none;
    color: var(--black);
    font-size: 28px;
    position: relative;
    transition: transform 500ms ease-in-out;
}

nav a::after{
    content: " ";
    width: 100%;
    height: 2px;
    background-color: var(--black);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 500ms ease-in-out;
}

nav a:hover::after{
    transform: translateX(-50%) scaleX(1);
}

nav a:hover{
    transform: scale(1.1);
    transition: 500ms;
}

/*
FOOTER, REDES SOCIAIS, DIREITOS RESERVADOS E MODO ESCURO
*/

.rodape-preto{
    background-color: var(--black);
    width: 100%;
    height: 7%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.redes-sociais{
    filter: invert(0.8);
    position: absolute;
    left: 10px;
    top: 13px;
    
}

.redes-sociais img{
    transition: 400ms;
}

.redes-sociais img:hover{
    transform: scale(1.1);
    transition: 400ms;
}

.copy{
    filter: invert(0.8);
    bottom: 2px;
    position: absolute;
    font-size: 12px;
}

.modo-escuro img{
    filter: invert(0.8);
    position: absolute;
    right: 20px;
    top: 15px;
    transition: 400ms;
    cursor: pointer;
}

.modo-escuro img:hover{
    transform: scale(1.1);
    transition: 400ms;
}