.todos-projetos{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagens{
    background-color: burlywood;
    width: 100%;
    height: 100px;
}